{% extends 'admin/admin_template.html' %}

<!-- Init block title -->
{% block 'title' %}Adcionar Editor{% endblock %}

<!-- Init block Header -->
{% block 'header' %}{% include 'admin/admin_header.html' %}{% endblock %}

<!-- Init block aside -->
{% block 'aside' %} {% include 'admin/admin_aside.html' %} {% endblock %}

<!-- Init block footer  -->
{% block 'footer' %}{% include 'admin/admin_footer.html' %}{% endblock %}

<!-- Init block content -->
{% block 'content' %}
<div class="container">
    <div class="row">
        {% include 'content_header.html' %}
        <div class="form-group">
            <form action="{% url 'insert_editor' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nome" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Sobrenome:</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Sobrenome" required>
                </div>
                <div class="form-group">
                    <label for="username">Nome de usuário:</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Nome de usuário" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
                </div>
                <button type="submit" class="btn btn-primary mt-4">Adicionar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}