{% extends 'admin/admin_template.html' %}

<!-- Init block title -->
{% block 'title' %}Home Editor{% endblock %}

<!-- Init block Header -->
{% block 'header' %}{% include 'admin/admin_header.html' %}{% endblock %}

<!-- Init block aside -->
{% block 'aside' %} {% include 'admin/admin_aside.html' %} {% endblock %}

<!-- Init block footer  -->
{% block 'footer' %}{% include 'admin/admin_footer.html' %}{% endblock %}

<!-- Init block content -->
{% block 'content' %}
<div class="container">
    <div class="row">
        <i class="bi bi-arrow-left mt-2" style="cursor: pointer;" onclick="location = `{% url 'home_admin_users' %}`"></i>
        {% include 'editors/header_content_editor.html' %}
        <!-- TODO: include introduction by editos in template -->
    </div>
</div>
{% endblock %}